body {
    background: #cc2983;
    background: linear-gradient(135deg, rgb(131, 25, 83) 0%, rgb(114, 30, 159) 14%, rgb(56, 72, 139) 27%, rgb(23, 137, 141) 40%, rgb(69, 133, 95) 53%, rgba(104, 163, 130, 1) 69%, rgb(158, 104, 18) 84%, rgb(141, 61, 69) 100%);
    color: beige;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: beige;
    color: black;
    font-family: 'McLaren';
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: 5px inset rgb(169, 156, 133);
}

.column-1 {
    display: flex;
    /* flex: 4 4 300px; */
    flex-direction: column;
    flex-grow: 4;
    margin-right: 15px;
}

.c1r1 {
    display: flex;
}

.c1r2 {
    display: flex;
}

.c1r2s1 {
    display: flex;   
    flex: 4 4 300px;
    
}

.c1r2s2 {
    display: flex;
    flex: 4 4 300px;
    flex-direction: column;
}
.c1r3 {
    display: flex;
}

.core {
    display: flex;
    flex: 4 4 300px;
    height: 150px;
}

.basic-moves {
    display: flex;
    flex: 4 4 200px;
    height: auto;
}

.resources {
    display: flex;
    flex: 2 2 100px;
    height: 120px;
}

.pain {
    display: flex;
    flex: 2 2 100px;
    height: 50px;
}

.resistances {
    display: flex;
    flex: 2 2 100px; 
    height: 200px;
}

.knowledge {
    display: flex;
    flex: 2 2 100px; 
    height: 200px;
}

.equipment {
    display: flex;
    flex: 4 4 300px;
    height: 500px;
}

.column-2 {
    display: flex;
    flex: 7 7 400px;
    flex-direction: column;
    flex-grow: 7;
}

.c2r1 {
    display: flex;
}

.c2r1s1 {
    display: flex;
    flex: 3 3 700px;
    flex-direction: column;
    /* width: 500px; */
}

.c2r1s1s1 {
    display: flex;
    flex: 3 3 400px;
    flex-direction: row;
}

.stats {
    display: flex;
    flex: 3 3 150px;
}

.kit {
    display: flex;
    flex: 7 7 300px;
    min-width: 100px;
    /* height: auto; */
}

.core-traits {
    display: flex;
    flex: 3 3 300px;

}

.quirks {
   display: flex;
    flex: 3 3 300px;
}

.c2r2 {
    display: flex;
}

.c2r3 {
    display: flex;
}

.traits {
    display: flex;
    flex: 7 7 400px;
    height: 800px;
}

.advanced-moves {
    display: flex;
    flex: 7 7 400px;
    height: 800px;
}

.column-3 {
    display: flex 2 2 200px;
    flex-direction: column;
    flex-grow: 2;
    margin-left: 15px;
}

.reminders {
    height: 1200px;
}


 /* <div class="column-1">
    column-1
        <div class="c1r1">
            <div class="core card">
                core
            </div>
        </div>
        <div class="c1r2">
            <div class="basic-moves card">
                basic-moves
            </div>
            <div class="resources card">
                resources
            </div>
            <div class="pain card">
                pain
            </div>
            <div class="knowledge card">
                knowledge
            </div>
        </div>
        <div class="c1r3">
            <div class="equipment card">
                equipment
            </div>
        </div>
    </div>
    <div class="column-2">
    column-2
        <div class="stats card">
            stats
        </div>
        <div class="core-traits card">
            core-traits
        </div>
        <div class="quirks card">
            quirks
        </div>
        <div class="kit card">
            kit
        </div>
        <div class="traits card">
            traits
        </div>
        <div class="advanced-moves card">
            advanced-moves
        </div>
    </div>
    <div class="column-3">
    column-3
        <div class="reminders card">
            reminders
        </div>
    </div> */