body {
    background-color: rgb(49, 49, 68);
    color: beige;
    display: flex;
}

.card {
    background-color: beige;
    color: black;
}

.column-1 {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
}

.core {
    width: 300px;
    height: 150px;
}

.basic-moves {
    width: 200px;
    height: 500px;
}

.resources {
    width: 100px;
    height: 120px;
}

.pain {
    width: 100px;
    height: 50px;
}

.resistances {
    width: 100px;
    height: 200px;
}

.knowledge {
    width: 100px;
    height: 200px;
}

.column-2 {
    display: flex;
    flex-basis: 800px;
    flex-direction: column;
}

.column-3 {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
}


 /* <div class="column-1">
    column-1
        <div class="c1r1">
            <div class="core card">
                core
            </div>
        </div>
        <div class="c1r2">
            <div class="basic-moves card">
                basic-moves
            </div>
            <div class="resources card">
                resources
            </div>
            <div class="pain card">
                pain
            </div>
            <div class="knowledge card">
                knowledge
            </div>
        </div>
        <div class="c1r3">
            <div class="equipment card">
                equipment
            </div>
        </div>
    </div>
    <div class="column-2">
    column-2
        <div class="stats card">
            stats
        </div>
        <div class="core-traits card">
            core-traits
        </div>
        <div class="quirks card">
            quirks
        </div>
        <div class="kit card">
            kit
        </div>
        <div class="traits card">
            traits
        </div>
        <div class="advanced-moves card">
            advanced-moves
        </div>
    </div>
    <div class="column-3">
    column-3
        <div class="reminders card">
            reminders
        </div>
    </div> */